@use "sass:math";
@function toVw($target) {
    $vw-context: (1440 * 0.01) * 1px;
    @return math.div($target, $vw-context) * 1vw;
}

@import "colors.scss";

@import "mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: $c-white;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: $c-white;
}

li{
    list-style: none;
}

.scroll-back{
    display: none;
    border: none;
    border-radius: 50%;
    width: toVw(50px);
    height: toVw(50px);
    position: fixed;
    z-index: 99;
    right: 4%;
    bottom: 10%;
    background-color: $c-turquoise;
    padding: toVw(5px);
    opacity: 0.5;
    cursor: pointer;
    img{
        width: 100%;
        transform: rotate(180deg);
    }
    @include media(phone-only){
        width: 40px;
        height: 40px;
        padding: 5px;
        right: 5%;
    }
}

h2{
    font-size: 50px;
    color: $c-turquoise;
    @include media(phone-only){
        font-size: 22px;
    }
}

p{
    color: $c-indigo;
    font-size: toVw(18px);
    line-height: toVw(27px);
    @include media(phone-only){
        font-size: 15px;
        line-height: 20px;
    }
}

br{
    @include media(phone-only){
        display: none;
    }
}

.btn{
    border: none;
    color: $c-white;
    cursor: pointer;
    width: toVw(193px);
    height: toVw(60px);
    font-size: toVw(17px);
    border-radius: toVw(6px);
    background-color: $c-turquoise;
    &:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
    }
    &:active{
        color: $c-black;
        background-color: #FAFAFA;
        border: toVw(1px) solid #DDDDDD;
    }
    @include media(phone-only){
        width: 140px;
        height: 40px;
        font-size: 15px;
        border-radius: 4px;
    }
}

.header{
    &__top{
        background-color: $c-turquoise;
        padding: toVw(14px) 0;
        @include media(phone-only){
            display: none;
        }
        &__content{
            margin: auto;
            width: toVw(420px);
            @include flex-between();   
            p{
                font-size: toVw(14px);
                color: rgba(255, 255, 255, 0.8);
            }   
            a{
                font-size: toVw(14px);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    
    &__navigation{
        width: 100%;
        padding: toVw(20px) 0;
        @include media(phone-only){
            background-color: $c-white;
            position: fixed;
            z-index: 1;
            top: 0;
            padding: 10px 0;
        }
        &__wrapper{
            margin: auto;
            width: toVw(1200px);
            @include align-items-center();
            @include media(phone-only){
                width: auto;
            }
            &__logo{
                width: toVw(40px);
                height: toVw(51px);
                img{
                    width: 100%;
                }
                @include media(phone-only){
                    width: 30px;
                    height: 41px;
                    margin-left: 20px;
                }
            }
            &__menu{
                width: toVw(477px);
                @include flex-between();
                gap: toVw(20px);
                @include media(phone-only){
                    gap: 30px;
                    width: auto;
                    padding-right: 65px;
                }
        
                .menu-list{
                    @include align-items-center();
                    gap: toVw(30px);
                    @include media(phone-only){
                        display: none;
                    }
                    a{
                        color: $c-dark;
                        font-size: toVw(15px);
                        &:hover{
                            text-decoration: underline;
                        }
                        &:active{
                            color: $c-turquoise;
                        }
                    }
                }
        
                .shopping-cart{
                    position: relative;
                    width: toVw(55px);
                    height: toVw(55px);
                    background-color: $c-turquoise;
                    border: none;
                    border-radius: toVw(4px);
                    padding: toVw(17px) toVw(14px);
                    cursor: pointer;
                    @include media(phone-only){
                        width: 40px;
                        height: 40px;
                        border-radius: 4px;
                        padding: 10px 9px;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                    img{
                        width: 100%;
                    }
        
                    .badge{
                        display: block;
                        top: toVw(-10px);
                        width: toVw(25px);
                        height: toVw(25px);
                        border-radius: 50%;
                        position: absolute;
                        right: toVw(-10px);
                        font-size: toVw(13px);
                        color: $c-turquoise;
                        background-color: $c-white;
                        padding: toVw(4px) toVw(7px) toVw(4px) toVw(8px);
                        box-shadow: toVw(7px) toVw(7px) toVw(25px) 0 #7E828F;
        
                        @include media(phone-only){
                            top: -8px;
                            left: 30px;
                            width: 20px;
                            height: 20px;
                            font-size: 12px;
                            padding: 3px 6px 2px 6px;
                            box-shadow: 5px 5px 20px 0 #7E828F;
                        }
                    }
                }
                .burger-menu{
                    display: none;
                    @include media(phone-only){
                        display: block;
                        .burger{
                            top: 12px;
                            z-index: 3;
                            width: 40px;
                            right: 20px;
                            height: 35px;
                            border: none;
                            position: absolute;
                            flex-direction: column;
                            @include flex-between();
                    
                            hr{
                                height: 8px;
                                border: none;
                                background-color: $c-turquoise;
                            }
                        }
                        .list{
                            display: none;
                            position: fixed;
                            z-index: 2;
                            width: 100%;
                            height: 100vh;
                            transition: .3s;
                            overflow: hidden;
                            background-color: $c-turquoise;
                            top: 0;
                            left: 0;
                            -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	                        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            @-webkit-keyframes scale-in-center {
                                0% {
                                    -webkit-transform: scale(0);
                                    transform: scale(0);
                                    opacity: 1;
                                }
                                100% {
                                    -webkit-transform: scale(1);
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                            @keyframes scale-in-center {
                                0% {
                                    -webkit-transform: scale(0);
                                    transform: scale(0);
                                    opacity: 1;
                                }
                                100% {
                                    -webkit-transform: scale(1);
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                            ul{
                                width: 150px;
                                margin: auto;
                                text-align: center;
                                margin-top: 100px;
                                -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	                            animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
                                @-webkit-keyframes scale-in-ver-top {
                                    0% {
                                        -webkit-transform: scaleY(0);
                                        transform: scaleY(0);
                                        -webkit-transform-origin: 100% 0%;
                                        transform-origin: 100% 0%;
                                        opacity: 1;
                                    }
                                    100% {
                                        -webkit-transform: scaleY(1);
                                        transform: scaleY(1);
                                        -webkit-transform-origin: 100% 0%;
                                        transform-origin: 100% 0%;
                                        opacity: 1;
                                    }
                                }
                                @keyframes scale-in-ver-top {
                                    0% {
                                        -webkit-transform: scaleY(0);
                                        transform: scaleY(0);
                                        -webkit-transform-origin: 100% 0%;
                                        transform-origin: 100% 0%;
                                        opacity: 1;
                                    }
                                    100% {
                                        -webkit-transform: scaleY(1);
                                        transform: scaleY(1);
                                        -webkit-transform-origin: 100% 0%;
                                        transform-origin: 100% 0%;
                                        opacity: 1;
                                    }
                                }
                                a{
                                    color: $c-white;
                                    font-size: 25px;
                                    line-height: 50px;
                                    &:active{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .list.active{
                            display: block;
                        }
                        .burger.active hr:nth-of-type(1){
                            display: none;
                        }
                        .burger.active hr:nth-of-type(2) {
                            // top: 50%;
                            background-color: $c-white; 
                            transform: translate(-50%, 245%) rotate(45deg); 
                            // margin-top: 33px;
                        }
                        .burger.active hr:nth-of-type(3) {
                            // top: 50%;
                            background-color: $c-white; 
                            transform: translate(-50%, -90%) rotate(-45deg); 
                        }
                    }
                }
            }
        }
    }
    
    .header-main{
        height: 100%;
        @include bg-default();
        background-image: url(../img/header-bg-shape.jpg);
        @include media(phone-only){
            margin-top: 56.5px;
        }
    
        &__wrapper{
            margin: auto;
            width: toVw(1200px);
            @include flex-between();
            padding-top: toVw(100px);
            padding-bottom: toVw(140px);
            @include media(phone-only){
                width: 300px;
                flex-direction: column;
            }
    
            &_content{
                @include media(phone-only){
                    text-align: center;
                }
                h1{
                    color: #08090A;
                    font-size: toVw(60px);
                    margin-bottom: toVw(27px);
                    @include media(phone-only){
                        font-size: 30px;
                        margin-bottom: 15px;
                    }
                }
    
                .text{
                    width: toVw(539px);
                    @include media(phone-only){
                        margin: auto;
                        width: 300px;
                    }
                }
    
                .btn{
                    margin-top: toVw(53px);
                    margin-bottom: toVw(30px);
                    @include media(phone-only){
                        margin-top: 25px;
                        margin-bottom: 10px;
                    }
                }
    
                .company-rating{
                    @include media(phone-only){
                        display: none;
                    }
                    img{
                        width: toVw(110px);
                        height: toVw(26.99px);
                    }
                    p{
                        color: #08090A;
                        font-size: toVw(16px);
                        margin-top: toVw(10px);
                    }
                }
            }
    
            &_photo-collage{
                @include media(phone-only){
                    display: none;
                }
                img{
                    width: toVw(600px);
                    height: toVw(580px);
                }
            }
        }
    }
}

.company-info{
    background-image: url(../img/info-section-bg-shape.jpg);
    @include bg-default();
    height: 100%;
    &__container{
        @include flex-between();
        padding-top: toVw(140.2px);
        padding-bottom: toVw(139.8px);
        width: toVw(1200px);
        margin: auto;
        @include media(phone-only){
            width: 300px;
            padding-top: 10px;
            flex-direction: column;
        }
        &_content{
            padding-top: toVw(151px);
            @include media(phone-only){
                text-align: center;
            }
            .text{
                width: toVw(539px);
                margin-top: toVw(29px);
                margin-bottom: toVw(47px);
                @include media(phone-only){
                    margin: auto;
                    width: 300px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        &_photo-collage{
            img{
                width: toVw(523px);
                height: toVw(614px);
                @include media(phone-only){
                    display: none;
                }
            }
        }
    }
}

.order-guide{
    margin: auto;
    text-align: center;
    width: toVw(1200px);
    padding-top: toVw(120px);
    padding-bottom: toVw(120px);
    @include media(phone-only){
        width: 300px;
        padding-bottom: 0;
    }
    &__container{
        margin-top: toVw(66px);
        @include flex-between();
        @include media(phone-only){
            flex-direction: column;
        }
        &_block{
            @include media(phone-only){
                margin-bottom: 20px;
            }
            img{
                width: toVw(333px);
                height: toVw(267px);
                @include media(phone-only){
                    width: 190px;
                    height: 150px;
                }
            }
            .guidance{
                color: #08090A;
                font-size: toVw(20px);
                margin-top: toVw(48px);
                margin-bottom: toVw(15px);
                @include media(phone-only){
                    margin-top: 0;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
        hr{
            border: none;
            width: toVw(100px);
            height: toVw(1.3px);
            background-color: #D1CDCD;
            margin-top: toVw(148.17px);
            @include media(phone-only){
                display: none;
            }
        }
    }
}

.menu{
    height: 100%;
    @include bg-default();
    background-image: url(../img/menu-section-bg-shape.jpg);
    &__container{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: toVw(140px);
        padding-bottom: toVw(140px);
        @include media(phone-only){
            padding-top: 70px;
        }
        &__title{
            margin: auto;
            width: toVw(500px);
            text-align: center;
            @include media(phone-only){
                width: 300px;
                margin-top: 50px;
            }
            p{
                font-size: toVw(16px);
                margin-top: toVw(26px);
                @include media(phone-only){
                    font-size: 15px;
                }
            }
        }
        &__categories{
            margin: auto;
            width: toVw(500px);
            margin-top: toVw(40px);
            @include flex-between();
            margin-bottom: toVw(40px);
            @include media(phone-only){
                width: 300px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .category-selection{
                color: #222222;
                cursor: pointer;
                width: toVw(132px);
                height: toVw(52px);
                font-size: toVw(15px);
                border-radius: toVw(6px);
                background-color: transparent;
                border: toVw(1px) solid rgba(97, 114, 131, 0.2);
                &:active{
                    color: $c-white;
                    background-color: $c-turquoise;
                }
                @include media(phone-only){
                    width: 90px;
                    height: 30px;
                    font-size: 15px;
                    border-radius: 4px;
                }
            }
            .active{
                color: $c-white;
                background-color: $c-turquoise;
            }
        }
        &__selections{
            margin: auto;
            width: toVw(1200px);
            @include flex-between();
            margin-bottom: toVw(44.55px);
            @include media(phone-only){
                align-items: center;
                flex-direction: column;
            }
            &_block{
                display: flex;
                gap: toVw(20px);
                flex-direction: column;
                @include media(phone-only){
                    gap: 20px;
                    margin-bottom: 20px;
                }
                &_item{
                    gap: toVw(30px);
                    width: toVw(580px);
                    height: toVw(200px);
                    padding: toVw(26px);
                    @include flex-between();
                    background-color: $c-white;
                    @include media(phone-only){
                        width: 250px;
                        height: 360px;
                        padding: 10px;
                        align-items: center;
                        flex-direction: column;
                    }
                    .item-photo{
                        img{
                            width: toVw(120px);
                            height: toVw(120px);
                            @include media(phone-only){
                                width: 180px;
                                height: 180px;
                            }
                        }
                    }
                    .item-content{
                        width: toVw(378px);
                        @include media(phone-only){
                            width: 230px;
                            display: flex;
                            text-align: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        &__title{
                            @include flex-between();
                            margin-bottom: toVw(10px);
                            @include media(phone-only){
                                margin-bottom: 8px;
                                flex-direction: column;
                            }
                            &_text{
                                color: #08090A;
                                font-size: toVw(18px);
                                @include media(phone-only){
                                    font-size: 17px;
                                    margin-bottom: 5px;
                                }
                            }
                            &_price{
                                color: $c-turquoise;
                                font-size: toVw(15px);
                                @include media(phone-only){
                                    font-size: 14px;
                                }
                            }
                        }
                        p{
                            font-size: toVw(16px);
                            @include media(phone-only){
                                font-size: 12px;
                            }
                        }
                        &__cart-addition{
                            width: toVw(183px);
                            margin-top: toVw(8px);
                            @include flex-between();
                            @include media(phone-only){
                                width: 150px;
                                margin-top: 8px;
                                margin-top: 15px;
                            }
                            .counter{
                                width: toVw(60px);
                                height: toVw(45px);
                                background: #FAFAFA;
                                border-radius: toVw(6px);
                                padding: toVw(9px) toVw(26px);
                                border: toVw(1px) solid #DDDDDD;
                                @include media(phone-only){
                                    width: 50px;
                                    height: 30px;
                                    font-size: 10px;
                                    padding: 6px 12px;
                                }
                            }
                            .add-to-cart{
                                border: none;
                                color: $c-black;
                                cursor: pointer;
                                width: toVw(115px);
                                height: toVw(45px);
                                font-size: toVw(16px);
                                border-radius: toVw(6px);
                                background-color: $c-turquoise;
                                &:active{
                                    background-color: #FAFAFA;
                                    border: toVw(1px) solid #DDDDDD;
                                }
                                @include media(phone-only){
                                    width: 90px;
                                    height: 30px;
                                    font-size: 12px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.faq{
    width: toVw(1200px);
    margin: auto;
    padding-top: toVw(120px);
    padding-bottom: toVw(120px);
    @include flex-between();
    @include media(phone-only){
        flex-direction: column;
        align-items: center;
        width: 300px;
        padding-top: 20px;
    }
    &__photo-collage{
        img{
            width: toVw(578px);
            height: toVw(586px);
            @include media(phone-only){
                width: 289px;
                height: 293px;
            }
        }
    }
    &__content{
        padding-top: toVw(136.55px);
        width: toVw(578px);
        @include media(phone-only){
            width: 300px;
            padding: 20px;
            text-align: center;
        }
        p{
            margin-top: toVw(29px);
            margin-bottom: toVw(47px);
            @include media(phone-only){
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}

.contact-details{
    height: 100%;
    @include bg-default();
    padding-top: toVw(140px);
    padding-bottom: toVw(140px);
    background-image: url(../img/contact-details-bg-shape.jpg);
    @include media(phone-only){
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__wrapper{
        margin: auto;
        width: toVw(1200px);
        @include flex-between();
        @include media(phone-only){
            width: 300px;
            justify-content: center;
        }
        &__content{
            width: toVw(578px);
            padding-top: toVw(100px);
            @include media(phone-only){
                width: 300px;
                text-align: center;
                padding-bottom: 20px;
            }
            p{
                margin-top: toVw(29px);
                margin-bottom: toVw(27px);
                @include media(phone-only){
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        &__photo-collage{
            @include media(phone-only){
                display: none;
            }
            img{
                width: toVw(527px);
                height: toVw(567px);
            }
        }
    }
}

.order{
    width: toVw(1352px);
    margin: auto;
    @include flex-between();
    margin-top: toVw(40px);
    margin-bottom: toVw(43px);
    @include media(phone-only){
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__img{
        img{
            width: toVw(666px);
            height: toVw(640px);
            @include media(phone-only){
                width: 280px;
                height: 267px;
            }
        }
    }
    &__block{
        width: toVw(666px);
        height: toVw(640px);
        @include bg-default();
        padding-top: toVw(212px);
        padding-left: toVw(60px);
        background-image: url(../img/order-section-bg.jpg);
        @include media(phone-only){
            width: 300px;
            padding: 20px;
            text-align: center;
            background-image: none;
        }
        h2{
            color: $c-white;
            span{
                color: #1B9097;
            }
            @include media(phone-only){
                color: $c-turquoise;
            }
        }
        .order-btn{
            border: none;
            cursor: pointer;
            width: toVw(162px);
            height: toVw(60px);
            color: $c-turquoise;
            font-size: toVw(17px);
            margin-top: toVw(52px);
            border-radius: toVw(6px);
            background-color: $c-white;
            &:hover{
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
            }
            &:active{
                color: $c-black;
                background-color: #c5ebed;
                border: toVw(1px) solid #DDDDDD;
            }
            @include media(phone-only){
                width: 140px;
                height: 40px;
                font-size: 15px;
                color: $c-white;
                margin-top: 30px;
                border-radius: 4px;
                background-color: $c-turquoise;
            }
        }
    }
}

.footer{
    height: 100%;
    @include bg-default();
    padding-top: toVw(99px);
    padding-bottom: toVw(60px);
    background-image: url(../img/footer-bg.jpg);
    &__container{
        margin: auto;
        width: toVw(1200px);
        @include media(phone-only){
            width: 300px;
        }
        &__company-info{
            @include flex-between();
            @include media(phone-only){
                align-items: center;
                flex-direction: column;
            }
            &_logo{
                @include media(phone-only){
                    text-align: center;
                }
                p{
                    font-size: toVw(15px);
                    margin-top: toVw(25px);
                    @include media(phone-only){
                        margin-top: 10px;
                        font-size: 10px;
                    }
                }
            }
            &_content{
                width: toVw(600px);
                @include flex-between();
                @include media(phone-only){
                    width: 300px;
                    margin-top: 20px;
                }
                .block{
                    width: toVw(189px);
                    .title{
                        color: #08090A;
                        font-size: toVw(13px);
                        @include media(phone-only){
                            font-size: 11px;
                        }
                    }
                    ul{
                        line-height: toVw(48px);
                        @include media(phone-only){
                            line-height: 20px;
                        }
                    }
                    a{
                        color: $c-indigo;
                        font-size: toVw(15px);
                        @include media(phone-only){
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        &__additional-info{
            @include flex-between();
            padding-top: toVw(60px);
            margin-top: toVw(100px);
            @include media(phone-only){
                padding-top: 0;
                align-items: center;
                flex-direction: column-reverse;
            }
            p{
                color: #353448;
                font-size: toVw(15px);
                @include media(phone-only){
                    font-size: 10px;
                    margin-top: 15px;
                }
            }
            .social-meadias{
                width: toVw(192px);
                @include flex-between();
                @include media(phone-only){
                    width: 150px;
                }
                img{
                    width: toVw(40px);
                    height: toVw(40px);
                    @include media(phone-only){
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
